# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
ENV/
.envrc

# Distribution / packaging
build/
dist/
*.egg-info/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editors/IDE
.vscode/
.idea/

